@model IEnumerable<QuanLyCuaHang.Models.DONHANG>

@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-bottom:10px;">
    <div class="col-sm-12 text-end">
        <a class="btn btn-primary" href="@Url.Action("Donhangtrongngay","DONHANG")">
            <span>
                <strong>Đơn hàng trong ngày</strong>
            </span>
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Ngày đặt
                </th>               
                <th>
                    Tên người đặt
                </th>
                <th>
                    Email
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Tình trạng
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.TenNguoiDat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>
                <td>                    
                    <a class="btn btn-primary" href="@Url.Action("Xemdonhang", "DONHANG", new{ madh= item.MaDH})" role="button">
                        Xem đơn hàng
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>